{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<form method="post">
  <div class="row mb-3">
    <label for="title" class="col-md-2 col-form-label col-form-label-lg">Title</label>
    <div class="col-md">
      <input type="title" id="title" name="title" class="form-control" value="{{ request.form['title'] }}" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="body" class="col-md-2 col-form-label col-form-label-lg">Body</label>
    <div class="col-md">
      <textarea type="body" id="body" name="body" class="form-control" required></textarea>
    </div>
  </div>
  <div class="row mb-3 d-flex justify-content-end">
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary col-md">Create</button>
    </div>
  </div>
</form>
{% endblock %}