{% extends 'base.html' %}

{% block header %}

<h1 class="text-break">
{%- block title -%}
{%- if edit_type == "update" -%}
Edit {{ post["title"] }}
{%- else -%}
New Post
{%- endif -%}
{%- endblock title -%}
</h1>

{% endblock header %}

{% block content %}
<hr>
<form method="post">
  <div class="row mb-3">
    <label for="title" class="col-md-2 col-form-label col-form-label-lg">Title</label>
    <div class="col-md">
      <textarea type="title" id="title" name="title" rows="3" maxlength="250" class="form-control text-break form-control-lg" 
        required>
          {%- if edit_type=="update" -%}
          {{- request.form['title'] or post['title'] -}}
          {%- endif -%}
        </textarea>
    </div>
  </div>
  <div class="row mb-3">
    <label for="body" class="col-md-2 col-form-label col-form-label-lg">Body</label>
    <div class="col-md">
      <textarea type="body" id="body" name="body" rows="15" maxlength="8192" class="form-control text-break"
        required>
          {%- if edit_type=="update" -%}
          {{- request.form['body'] or post['body'] -}}
          {%- endif -%}
        </textarea>
    </div>
  </div>
  <div class="row mb-3 d-flex justify-content-between">
    {% if edit_type == "update" %}
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <form id="delete" action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <input form="delete" class="danger btn btn-danger col-md" type="submit" value="Delete"
          onclick="return confirm('Are you sure you want to delete this post?');"></input>
      </form>
    </div>
    {% endif %}
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary col-md">Save</button>
    </div>
  </div>
</form>
{% endblock content %}